.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.nav-wrapper {
    height: 100px !important;
    line-height: 100px;
}
.nav-item .nav-link:hover {
    color: #D05F59 !important;
    background-color:#37474f;
}
.nav-link {
    display: inline;
    position: relative;
    font-size: 1.2rem;
}
.nav .nav-item {
	padding: .5rem .5rem;
    margin: 0 .25rem;
}
.flashes h4 {
    line-height: 2;
}
.logo {
	margin-left: auto;
	margin-right: auto;
	max-width: 170px;
    height: 85px;
    padding-left: 7%;
}
.logo >img {
	width: 100%;
}
.caption {
	font-family: Georgia;
	font-weight: normal;
	font-style: italic;
    margin: 10px;
    margin-bottom: 1em;
	text-shadow: 2px 2px#1b5e20;
	font-size: 38px;
}
.collapsible-header {
    line-height: 1.9;
}
blockquote { 
    border-style: solid;
    border-radius: 20px;
    border-color:#37474f;
    padding: 25px;
}
.jumbotron {
    background: none;
}
.datepicker-date-display {
    background-color:#37474f;
}
.datepicker-day-button:focus{
    color: white !important;
    background-color:#37474f;
}
.datepicker-done, .datepicker-cancel, .select-dropdown li>span, .is-today {
    color: #37474f !important; 
}
td.is-selected, .month-prev:active, .month-prev:focus, .month-next:active, .month-next:focus {
    background-color: #37474f !important;
}
td.is-selected.is-today {
    color: white !important;
}
.datepicker-calendar-container {
    color: #000;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}
.collapsible-body {
    background-color: #121315;
}
.ratings {
    display: inline-block;
    /* padding-left: 3em; */
    /* text-shadow: 0 0 4px #000; */
    margin-top: 3%;
}
.purchase-link {
    margin-top: 3%;
}
.published-date, .created-by {
    margin-top: 2%;
}
.genre, .votes {
     margin-top: 2%;
}
.up-vote {
    color: #00c853;
}
.down-vote {
    color: #f44336;
}
.vote-counts {
    display: inline;
}
.book {
    display: inline;
    padding-left:2em;
}
.lever .switch {
    padding-left: 10px;
}
#button {
	display: inline-block;
	background-color: #EE6059;
	width: 40px;
	height: 45px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 10px;
	right: 15px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}
#button::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
}
#button:hover {
	cursor: pointer;
	background-color: #333;
}
#button:active {
	background-color: #555;
}
#button.show {
	opacity: 1;
	visibility: visible;
}
@media (min-width: 500px) {
	#button {
		margin: 20px;
	}
}
.page-footer {
    color: #fafafa;
    background: #121315;
    height: 100px;
}
.profile-image {
	background-image: url("../images/profile.jpeg");
	height: 100vh;
    background-repeat: no-repeat 0% 0%;
    background-position: center;
	background-size: cover;
    position: relative;
    max-width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.profile-card {
    position: absolute;
    width: 100%;
}
.profile-container {
    position: relative;
    width: 100%;  
}
.img-responsive {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* background-color:#eceff1; */
    background-color:#000000;
    color: blanchedalmond;
  }

main {
    flex: 1 0 auto;
  }

.img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
}

.img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

* {
    margin: 0;
    padding: 0;
}

#container {
    height: 100%;
    width: 100%;
    font-size: 20;
}
#right {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    font-size: 15px;
}

#left {
    width: 20%;
}
@media (max-width: 992px) {
	.caption {
		font-size: 1.1rem;
	}
}
@media (max-width: 992px) {
	.book-title {
		font-size: 0.7rem;
	}
}
@media (max-width: 992px) {
	.author {
		font-size: 0.6rem;
	}
}