.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.nav-wrapper {
    height: 100px !important;
    line-height: 100px;
}
.nav-item .nav-link:hover {
    color: #D05F59 !important;
    background-color:#37474f;
}
.nav-link {
    display: inline;
    position: relative;
    font-size: 1.2rem;
}
.nav .nav-item {
	padding: .5rem .5rem;
    margin: 0 .25rem;
}
.flashes h4 {
    line-height: 2;
}
.logo {
	margin-left: auto;
	margin-right: auto;
	max-width: 170px;
    height: 85px;
    padding-left: 7%;
}
.logo img {
	width: 100%;
}
.collapsible-header {
    line-height: 1.9;
}
blockquote { 
    border-style: solid;
    border-radius: 20px;
    border-color:#37474f;
    padding: 25px;
}
.jumbotron {
    background: none;
}
.picker__box {
    background-color:#ccc;
}
.picker-date-display {
    background-color:#37474f !important;
}