{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Edit Review</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
            <!-- genre selection -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix blue-grey-text text-darken-4"></i>
					<select id="genre_name" name="genre_name" class="validate" required>
                        <option value="" disabled>Choose Genre</option>
                        {% for genre in genres %}
                            {% if genre.genre_name == review.genre_name %}
                                <option value="{{ genre.genre_name }}" selected>{{ genre.genre_name }}</option>
                            {% else %}
                                <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
					<label for="genre_name">Review Genre</label>
				</div>
			</div>
            <!-- book name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix blue-grey-text text-darken-4"></i>
                    <input id="book_name" name="book_name" minlength="3" maxlength="40"
                        value="{{ review.book_name }}" type="text" pattern="^[a-zA-Z0-9?'-. ]{3,40}$" title="Enter only alphanumeric characters" class="validate" required>
                    <label for="book_name">Book Name</label>
                </div>
            </div>
            <!-- author name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix blue-grey-text text-darken-4"></i>
                    <input id="author_name" name="author_name" minlength="5" maxlength="20"
                        value="{{ review.author_name }}" type="text" pattern="^[a-zA-Z0-9-. ]{5,20}$" title="Enter only alphanumeric characters" class="validate" required>
                    <label for="author_name">Author Name</label>
                </div>
            </div>
            <!-- reviewers comment -->
            <div class="row">
                <div class="input-field col s12">
                    <p class="word-count">You have <span id="wordCount">0 words</span> and <span id="charCount">0 characters</span></p>
                    <i class="fas fa-align-left prefix blue-grey-text text-darken-4"></i>
                    <input textarea id="book_review" name="book_review" minlength="5"
                        maxlength="1000" pattern="[a-zA-Z0-9]{5,1000}" title="Only alphanumeric allowed and must between 5 to 1000 characters" class="materialize-textarea validate" required>
                        {{- review.book_review -}}
                    <!-- </textarea> -->
                    <label for="book_review">Reviewers' Comments</label>
                </div>
            </div>
            <!-- published date picker -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix blue-grey-text text-darken-4"></i>
                    <input id="published_date" name="published_date" type="text" 
                        value="{{ review.published_date }}" class="datepicker validate" required>
                    <label for="published_date">Published Date</label>
                </div>
            </div>
            <!-- url link -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-link prefix blue-grey-text text-darken-4"></i>
                    <input id="url_link" name="url_link" minlength="5" maxlength="500"
                        value="{{ review.url_link }}" type="text" class="validate" required>
                    <label for="url_link">Cover Link</label>
                </div>
            </div>
            <!-- star rating toggle -->
			<div class="row">
				<div class="input-field col s12">
					<div class="switch">
                        
						<label for="star_rating">
                            {% if review.star_rating == "on" %}
                                <input type="checkbox" id="star_rating" name="star_rating" checked>
                            {% else %}
                                <input type="checkbox" id="star_rating" name="star_rating">
                            {% endif %}
                            <span class="lever"></span>
                            Rating-1
						</label>
                        
						<label for="star_rating2">
                            {% if review.star_rating2 == "on" %}
                                <input type="checkbox" id="star_rating2" name="star_rating2" checked>
                            {% else %}
                                <input type="checkbox" id="star_rating2" name="star_rating2">
                            {% endif %}
                            <span class="lever"></span>
                            Rating-2
                        </label>
                        
						<label for="star_rating3">
                            {% if review.star_rating3 == "on" %}
                                <input type="checkbox" id="star_rating3" name="star_rating3" checked>
                            {% else %}
                                <input type="checkbox" id="star_rating3" name="star_rating3">
                            {% endif %}
                            <span class="lever"></span>
                            Rating-3
                        </label>
                        
						<label for="star_rating4">
                            {% if review.star_rating4 == "on" %}
                                <input type="checkbox" id="star_rating4" name="star_rating4" checked>
                            {% else %}
                                <input type="checkbox" id="star_rating4" name="star_rating4">
                            {% endif %}
                            <span class="lever"></span>
                            Rating-4
                        </label>
                        
						<label for="star_rating5">
                            {% if review.star_rating5 == "on" %}
                                <input type="checkbox" id="star_rating5" name="star_rating5" checked>
                            {% else %}
                                <input type="checkbox" id="star_rating5" name="star_rating5">
                            {% endif %}
                            <span class="lever"></span>
                            Rating-5
                        </label>
					</div>
				</div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{ url_for('get_reviews') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large waves-effect waves-light blue-grey darken-1 text-shadow">
                        Update Review <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
