{% extends "base.html" %}
{% block content %}

<!-- Hero Image -->
    <div class="container profile-container">
	<div class="profile-image responsive-img">
    <div class="card-image transparent profile-card z-depth-5">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-title">
                <h3 class="center-align profile-message">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>
	</div></div></div>

{% endblock %}