{% extends "base.html" %}
{% block content %}

    <h3 class="blue-grey-text text-darken-4 center-align">Book Reviews</h3>
 
    <ul class="collapsible">
        {% for review in reviews %}
        <li>
            <div class="collapsible-header white-text blue-grey darken-4 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == review.created_by|lower %}
                        <a href="{{ url_for('delete_review', review_id=review._id) }}" class="btn-small green accent-4">Done</a>
                        <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn-small blue-grey lighten-1">Edit</a>
                    {% endif %}
                </div>
                <div class="col s9">
                    <strong>{{ review.book_name }}</strong> &nbsp;&nbsp; <em>Author by : {{ review.author_name }}</em> 
                    {% if review.star_rating == "on" %} 
                        <i class="fas fa-star amber-text text-accent-4 tooltipped"
                            data-position="right" data-tooltip="1"></i>
                        <i class="fas fa-star amber-text text-accent-4 tooltipped"
                            data-position="right" data-tooltip="2"></i>
                        <i class="fas fa-star amber-text text-accent-4 tooltipped"
                            data-position="right" data-tooltip="3"></i>
                        <i class="fas fa-star amber-text text-accent-4 tooltipped"
                            data-position="right" data-tooltip="4"></i>
                        <i class="fas fa-star amber-text text-accent-4 tooltipped"
                            data-position="right" data-tooltip="5"></i>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body">
                <strong>{{ review.genre_name }}</strong>
                <p><blockquote class="jumbotron bg-transparent">{{ review.book_review }}</blockquote></p>
                <p>{{ review.url_link }}</p>
                <p><em>Published : {{ review.published_date }}</em></p>
                <p><em>by: {{ review.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}